body {
	position: relative;
	overflow: hidden;
	font-family: 'Times New Roman', 'serif';
	background: #8f7b63 url('../images/background.png') center center no-repeat;
}
a {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
img {
	border: none;
}

.view {
	position: relative;
	display: inline-block;
	width: 100%;
	margin: 36px 108px;
}


#modal {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 400;
}



/*  Windows  */
.window {
	display: inline-block;
	box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.window .inner {
	background: transparent url('../images/window-frame-bg.png') 0 0 repeat;
	padding: 4px;
}
.window .border-1 {
	border-top: 1px solid #d4d0c8;
	border-left: 1px solid #d4d0c8;
	border-bottom: 1px solid #434343;
	border-right: 1px solid #434343;
}
.window .border-2 {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #808080;
	border-right: 1px solid #808080;
}
.window .border-3 {
	border: 1px solid #d4d0c8;
}
.window .border-4 {
	border-top: 2px solid #dfdfdf;
	border-left: 2px solid #dfdfdf;
	border-bottom: 2px solid #434343;
	border-right: 2px solid #434343;
}
.window .menu {
	position: absolute;
	top: 0;
	left: 0;
}
.window .title {
	position: relative;
	top: -4px;
	line-height: 21px;
	color: #878787;
	font-size: 1.75em;
	font-weight: normal;
	text-shadow: 1px 1px 0 #000;
	text-align: center;
	padding: 5px 0 4px 0;
}
.window .title:empty {
	display: none;
}
.window .content {
	background: transparent url('../images/window-inner-bg.png') 0 0 repeat;
	border-top: 2px solid #434343;
	border-left: 2px solid #434343;
	border-bottom: 2px solid #dfdfdf;
	border-right: 2px solid #dfdfdf;
}
.window .content + .buttons {
	position: relative;
	top: 4px;
}
.window.image .content .image {
	display: block;
}

	/*  Forms  */
	.window.form .content {
		color: #333;
		font-size: 1.5em;
		text-shadow: 1px 1px 0 #bfbfbf;
		letter-spacing: 0;
		padding: 10px;
	}
	.window.form .row {
		display: inline-block;
		width: 100%;
	}
	.window.form .row + .row {
		margin-top: 6px;
	}
	.window.form .buttons .button {
		font-family: 'Times New Roman', 'serif';
	}
	.window.form input[type="text"] {
		outline: none;
		font-size: 0.7em;
		background: #fff;
		border: 1px solid #444;
		padding: 5px 8px 4px 8px;
	}
	/*
		:not(#foo) > is a rule filter to block browsers
		that don't support that selector from
		applying rules they shouldn't
	*/
	.window.form:not(#foo) input[type="radio"],
	.window.form:not(#foo) input[type="checkbox"] {
		display: none;
	}
	.window.form:not(#foo) input[type="radio"] + label:before {
		content: url('../images/forms/radio_unchecked.png');
		width: 18px;
		height: 18px;
		margin-right: 10px;
	}
	.window.form:not(#foo) input[type="checkbox"] + label:before {
		content: url('../images/forms/checkbox_unchecked.png');
		width: 24px;
		height: 19px;
		margin-right: 10px;
	}
	.window.form:not(#foo) input[type="radio"]:checked + label:before {
		content: url('../images/forms/radio_checked.png');
	}
	.window.form:not(#foo) input[type="checkbox"]:checked + label:before {
		content: url('../images/forms/checkbox_checked.png');
	}
	/*  Forms  */


	/*  Buttons  */
	.window .buttons {
		display: inline-block;
		width: 100%;
	}
	.window .buttons:empty {
		display: none;
	}
	.window .buttons .button {
		display: block;
		float: left;
		vertical-align: top;
		cursor: pointer;
		line-height: 0.8em;
		font-size: 1em;
		background: #c0c0c0;
		border-top: 2px solid #fff;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #808080;
		border-right: 2px solid #808080;
		box-shadow: 0 0 0 1px #000;
		padding: 9px 0;
		margin-right: 1%;
	}
	/*  One Button  */
	.window .buttons .button:first-child:nth-last-child(1) {
		width: 100%;
	}
	/*  Two Buttons  */
	.window .buttons .button:first-child:nth-last-child(2),
	.window .buttons .button:first-child:nth-last-child(2) ~ .button {
		width: 49.5%;
	}
	/*  Three Buttons  */
	.window .buttons .button:first-child:nth-last-child(3),
	.window .buttons .button:first-child:nth-last-child(3) ~ .button {
		width: 32.666667%;
	}
	.window .buttons .button:last-child {
		margin-right: 0;
	}
	/*  Buttons  */

/*  Windows  */




/*  Game Menu  */
#game-menu {
	color: #000;
	background: #d4d0c8;
}
#game-menu .top-level-list {
	display: block;
	width: 100%;
	list-style: none;
}
#game-menu .top-level-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 1px 5px;
}
#game-menu .top-level-anchor {
	font-size: 0.8em;
}
#game-menu .sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 500;
	display: none;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
}
#game-menu .sub-menu-border-1 {
	background: #d4d0c8;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #444;
	border-right: 1px solid #444;
	padding: 1px;
}
#game-menu .top-level-item.active .sub-menu {
	display: block;
}
#game-menu .sub-menu-item {
	display: block;
	width: 100%;
	white-space: nowrap;
	text-align: left;
	background: transparent;
	border: none;
	padding: 4px 16px;
	margin: 0;
}
#game-menu .sub-menu-item:hover {
	color: #fff;
	background: #152550;
}
/*  Game Menu  */




/*  Main Screen  */

	.view.main_screen {
		margin: 36px 90px;
	}

	/*  Image  */
	.view.main_screen .window.image {
		position: absolute;
		left: 0;
		top: 0;
	}
	/*  Image  */


	/*  Form  */
	.view.main_screen .window.form {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 400px;
	}
	/*  Form  */

/*  Main Screen  */



/*  Select World Size  */

	/*  Image  */
	.view.select_world_size .window.image {
		position: absolute;
		left: 0;
		top: 0;
	}
	/*  Image  */


	/*  Form  */
	.view.select_world_size .window.form {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 500px;
	}
	/*  Form  */

/*  Select World Size  */



/*  Select Difficulty Level  */

	/*  Image  */
	.view.select_difficulty_level .window.image {
		position: absolute;
		right: 0;
		top: 0;
	}
	/*  Image  */


	/*  Form  */
	.view.select_difficulty_level .window.form {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 500px;
	}
	/*  Form  */

/*  Select Difficulty Level  */



/*  Select Number of Civs  */

	/*  Image  */
	.view.select_number_of_civs .window.image {
		position: absolute;
		left: 0;
		top: 0;
	}
	/*  Image  */


	/*  Form  */
	.view.select_number_of_civs .window.form {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 500px;
	}
	/*  Form  */

/*  Select Number of Civs  */



/*  Select Level of Barbarian Activity  */

	/*  Image  */
	.view.select_barbarian_level .window.image {
		position: absolute;
		right: 0;
		top: 0;
	}
	/*  Image  */


	/*  Form  */
	.view.select_barbarian_level .window.form {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 500px;
	}
	/*  Form  */

/*  Select Level of Barbarian Activity  */



/*  Select Tribe  */

	/*  Image  */
	.view.select_tribe .window.image {
		position: absolute;
		left: 0;
		top: 0;
	}
	/*  Image  */


	/*  Form  */
	.view.select_tribe .window.form {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 768px;
	}
	.view.select_tribe .window.form .content .option {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		font-size: 0.9em;
		margin-right: 4%;
		margin-bottom: 4px;
	}
	.view.select_tribe .window.form .content .option:nth-child(3n) {
		width: 29%;
		margin-right: 0;
	}
	.view.select_tribe .window.form .content .option:nth-last-child(-n+3) {
		margin-bottom: 0;
	}
	/*  Form  */

/*  Select Tribe  */



/*  Select Gender  */

	/*  Image  */
	.view.select_gender .window.image {
		position: absolute;
		left: 0;
		top: 0;
	}
	/*  Image  */


	/*  Form  */
	.view.select_gender .window.form {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 360px;
	}
	/*  Form  */

/*  Select Gender  */



/*  Enter Your Name  */

	/*  Image  */
	.view.enter_your_name .window.image {
		position: absolute;
		left: 0;
		top: 0;
	}
	/*  Image  */


	/*  Form  */
	.view.enter_your_name .window.form {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 768px;
	}
	/*  Form  */

/*  Enter Your Name  */



/*  Select City Style  */

	/*  Image  */
	.view.select_city_style .window.image {
		position: absolute;
		left: 0;
		top: 0;
	}
	/*  Image  */


	/*  Form  */
	.view.select_city_style .window.form {
		position: absolute;
		right: 0;
		bottom: 0;
		width: 500px;
	}
	.view.select_city_style .window.form:not(#foo) input[type="radio"] + label {
		position: relative;
		top: -8px;
	}
	.view.select_city_style .window.form:not(#foo) input[type="radio"] + label:before {
		position: relative;
		top: 8px;
		width: 64px;
		height: 36px;
		opacity: 0.6;
	}
	.view.select_city_style .window.form:not(#foo) input[type="radio"]:checked + label:before {
		opacity: 1;
	}
	.view.select_city_style .window.form:not(#foo) input[type="radio"][value="bronze"] + label:before,
	.view.select_city_style .window.form:not(#foo) input[type="radio"][value="bronze"]:checked + label:before {
		content: url('../images/forms/city_style_bronze.png');
	}
	.view.select_city_style .window.form:not(#foo) input[type="radio"][value="classical"] + label:before,
	.view.select_city_style .window.form:not(#foo) input[type="radio"][value="classical"]:checked + label:before {
		content: url('../images/forms/city_style_classical.png');
	}
	.view.select_city_style .window.form:not(#foo) input[type="radio"][value="far_east"] + label:before,
	.view.select_city_style .window.form:not(#foo) input[type="radio"][value="far_east"]:checked + label:before {
		content: url('../images/forms/city_style_far_east.png');
	}
	.view.select_city_style .window.form:not(#foo) input[type="radio"][value="medieval"] + label:before,
	.view.select_city_style .window.form:not(#foo) input[type="radio"][value="medieval"]:checked + label:before {
		content: url('../images/forms/city_style_medieval.png');
	}
	/*  Form  */

/*  Select City Style  */



/*  Game  */

	.view.game .windows {
		position: relative;
		width: 100%;
	}


	/*  Map  */
	.view.game {
		margin: 0;
	}
	.view.game .window.map {
		position: absolute;
		left: 0;
		top: 0;
	}
	.view.game .window.map #map {
		display: block;
		background: #000;
	}
	/*  Map  */


	/*  Mini-Map  */
	.view.game .window.mini-map {
		position: absolute;
		right: 0;
		top: 0;
	}
	.view.game .window.mini-map #mini-map {
		display: block;
		background: #000;
	}
	/*  Mini-Map  */


	/*  Status  */
	.view.game .window.status {
		position: absolute;
		right: 0;
		bottom: 0;
	}
	/*  Status  */

/*  Game  */



/*  Load Game  */
.view.load_game .window.saves_viewer .content {
	height: 160px;
	overflow-y: scroll;
	background: transparent url('../images/window-inner-bg2.png') 0 0 repeat;
	padding: 0;
}
.view.load_game .window.saves_viewer .list {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.view.load_game .window.saves_viewer .list .cell {
	font-size: 0.6em;
	padding: 4px 8px;
}
.view.load_game .window.saves_viewer .list th.cell {
	font-size: 0.7em;
	font-weight: bold;
}
.view.load_game .window.saves_viewer th.cell.sort_by:after {
	position: relative;
	top: 2px;
	display: inline-block;
	width: 16px;
	height: 16px;
	content: url('../images/icons/bullet_arrow_up.png');
	margin-left: 2px;
}
.view.load_game .window.saves_viewer th.cell.sort_by.desc:after {
	content: url('../images/icons/bullet_arrow_down.png');
}
.view.load_game .window.saves_viewer .list td.cell {
	cursor: pointer;
}
.view.load_game .window.saves_viewer .list tr.selected .cell {
	color: #fff;
	text-shadow: none;
	background: rgba(21, 37, 80, 0.6);
	border-top: 1px solid rgba(21, 37, 80, 0.7);
	border-bottom: 1px solid rgba(21, 37, 80, 0.7);
}
.view.load_game .window.saves_viewer .list .cell:first-child {
	text-align: left;
}
.view.load_game .window.saves_viewer .list .cell:last-child {
	text-align: right;
}
/*  Load Game  */