
	<div class="view city-report-options">

		<div class="window form">
			<div class="border-1">
				<div class="border-2">
					<div class="border-3">
						<div class="border-4">
							<div class="inner">

								<h3 class="title">City Report Options</h3>

								<div class="content">

									<div class="row">
										<input id="growth_haulted" type="checkbox" name="growth_haulted" value="1" />
										<label for="growth_haulted">Warn when city growth haulted (Aqueduct / Sewer System)</label>
									</div>

									<div class="row">
										<input id="improvement_built" type="checkbox" name="improvement_built" value="1" />
										<label for="improvement_built">Show city improvements built</label>
									</div>

									<div class="row">
										<input id="non_combat_unit_built" type="checkbox" name="non_combat_unit_built" value="1" />
										<label for="non_combat_unit_built">Show non-combat units built</label>
									</div>

									<div class="row">
										<input id="invalid_build_instructions" type="checkbox" name="invalid_build_instructions" value="1" />
										<label for="invalid_build_instructions">Show invalid build instructions</label>
									</div>

									<div class="row">
										<input id="disorder" type="checkbox" name="disorder" value="1" />
										<label for="disorder">Announce cities in disorder</label>
									</div>

									<div class="row">
										<input id="order_restored" type="checkbox" name="order_restored" value="1" />
										<label for="order_restored">Announce order restored in city</label>
									</div>

									<div class="row">
										<input id="we_love_the_king_day" type="checkbox" name="we_love_the_king_day" value="1" />
										<label for="we_love_the_king_day">Announce &quot;We Love the King Day&quot;</label>
									</div>

									<div class="row">
										<input id="food_dangerously_low" type="checkbox" name="food_dangerously_low" value="1" />
										<label for="food_dangerously_low">Warn when food dangerously low</label>
									</div>

									<div class="row">
										<input id="pollution" type="checkbox" name="pollution" value="1" />
										<label for="pollution">Warn when new pollution occurs</label>
									</div>

									<div class="row">
										<input id="shield_cost_for_production_change" type="checkbox" name="shield_cost_for_production_change" value="1" />
										<label for="shield_cost_for_production_change">Warn when changing production will cost shields</label>
									</div>

									<div class="row">
										<input id="zoom_to_city_as_default" type="checkbox" name="zoom_to_city_as_default" value="1" />
										<label for="zoom_to_city_as_default">&quot;Zoom to City&quot; set by default</label>
									</div>
									
								</div>

								<div class="buttons">
									<input class="button submit" type="submit" value="OK" />
									<input class="button cancel" type="submit" value="Cancel" />
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>