
	<div class="view game-options">

		<div class="window form">
			<div class="border-1">
				<div class="border-2">
					<div class="border-3">
						<div class="border-4">
							<div class="inner">

								<h3 class="title">Game Options</h3>

								<div class="content">

									<div class="row">
										<input id="wait_at_end_of_turn" type="checkbox" name="wait_at_end_of_turn" value="1" />
										<label for="wait_at_end_of_turn">Always wait at end of turn</label>
									</div>

									<div class="row">
										<input id="auto_save_each_turn" type="checkbox" name="auto_save_each_turn" value="1" />
										<label for="auto_save_each_turn">Auto-save each turn</label>
									</div>

									<div class="row">
										<input id="show_enemy_moves" type="checkbox" name="show_enemy_moves" value="1" />
										<label for="show_enemy_moves">Show enemy moves</label>
									</div>

									<div class="row">
										<input id="pause_after_enemy_moves" type="checkbox" name="pause_after_enemy_moves" value="1" />
										<label for="pause_after_enemy_moves">Pause after enemy moves</label>
									</div>

									<div class="row">
										<input id="fast_piece_slide" type="checkbox" name="fast_piece_slide" value="1" />
										<label for="fast_piece_slide">Fast piece slide</label>
									</div>

									<div class="row">
										<input id="enter_key_closes_city_screen" type="checkbox" name="enter_key_closes_city_screen" value="1" />
										<label for="enter_key_closes_city_screen">ENTER key closes City Screen</label>
									</div>
									
								</div>

								<div class="buttons">
									<input class="button submit" type="submit" value="OK" />
									<input class="button cancel" type="submit" value="Cancel" />
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>