
		<ol class="top-level-list">
			<li class="top-level-item">
				<a class="top-level-anchor">Game</a>
				<menu class="sub-menu" label="Game" type="list">
					<button data-action="game_options" type="button">Game Options</button>
					<button data-action="city_report_options" type="button">City Report Options</button>
					<button data-action="save_game" type="button">Save Game</button>
					<button data-action="load_game" type="button">Load Game</button>
					<button data-action="retire" type="button">Retire</button>
					<button data-action="quit" type="button">Quit</button>
				</menu>
			</li>
			<li class="top-level-item">
				<a class="top-level-anchor">Kingdom</a>
				<menu class="sub-menu" label="Kingdom" type="list">
					<button data-action="tax_rate" type="button">Tax Rate</button>
					<button data-action="find_city" type="button">Find City</button>
					<button data-action="revolution" type="button">REVOLUTION</button>
				</menu>
			</li>
			<li class="top-level-item">
				<a class="top-level-anchor">View</a>
				<menu class="sub-menu" label="View" type="list">
					<button data-action="move_pieces" type="button">Move Pieces</button>
					<button data-action="view_pieces" type="button">View Pieces</button>
					<button data-action="zoom_in" type="button">Zoom In</button>
					<button data-action="zoom_out" type="button">Zoom Out</button>
				</menu>
			</li>
			<li class="top-level-item">
				<a class="top-level-anchor">Orders</a>
				<menu class="sub-menu" label="Orders" type="list">
				</menu>
			</li>
			<li class="top-level-item">
				<a class="top-level-anchor">Civilopedia</a>
				<menu class="sub-menu" label="Civilopedia" type="list">
					<button data-action="civilopedia_advances" type="button">Civilization Advances</button>
					<button data-action="civilopedia_improvements" type="button">City Improvements</button>
					<button data-action="civilopedia_wonders" type="button">Wonders of the World</button>
					<button data-action="civilopedia_units" type="button">Military Units</button>
					<button data-action="civilopedia_governments" type="button">Governments</button>
					<button data-action="civilopedia_terrain" type="button">Terrain Types</button>
					<button data-action="civilopedia_game_concepts" type="button">Game Concepts</button>
				</menu>
			</li>
		</ol>
