
	<div class="view quit">

		<div class="window form">
			<div class="border-1">
				<div class="border-2">
					<div class="border-3">
						<div class="border-4">
							<div class="inner">

								<h3 class="title">Confirmation</h3>

								<div class="content">

									<p class="instructions">Do you really want to quit?</p>

									<div class="row">
										<input id="response-no" type="radio" name="response" value="no" />
										<label for="response-no">No</label>
									</div>
									<div class="row">
										<input id="response-yes" type="radio" name="response" value="yes" />
										<label for="response-yes">Yes</label>
									</div>
									
								</div>

								<div class="buttons">
									<input class="button submit" type="submit" value="OK" />
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>