
	<div class="view load_game">

		<div class="window saves_viewer form">

			<div class="border-1">
				<div class="border-2">
					<div class="border-3">
						<div class="border-4">
							<div class="inner">

								<h3 class="title">Load Game</h3>

								<div class="content"></div>

								<div class="buttons">
									<input class="button submit" type="submit" value="Open" />
									<input class="button cancel" type="submit" value="Cancel" />
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>